<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>

		<add key="ServiceName" value="CreateJsonBodyHangFire" />
		<add key="ServiceDisplayName" value="CreateJsonBodyHangFire" />
		<add key="ServiceDescription" value="CreateJsonBodyHangFire" />
		<add key="Company" value="AP31" />
		<add key="CronExpression" value="0 0 * ? * *" />
		<add key="TimeZone_" value="Brussels" />
		<add key="pathFolderRead" value="C:\Users\Asus\source\repos\CreateJsonBodyHangFire\CreateJsonBodyHangFire\source" />
		<add key="pathFolderDestination" value="C:\Users\Asus\source\repos\CreateJsonBodyHangFire\CreateJsonBodyHangFire\source\JsonSource" />
		<add key="fileNamePrefix" value="Ax_t_rxprocess" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>